<header>
  <section class="container">
  <nav>
      <section class="logo">
          
          <img src="../../assets/img/logo.png">
          <ul>
            <li><a routerLink="/home"> home</a></li>
            <li><a routerLink="/products">Products </a> </li>
        </ul>
      </section>
      <section class="list"> 
          <i class="fas fa-cart-plus"></i>
          
          <div> {{counter}}</div>
      </section>
  </nav>
  <section class="header-content">
      <section class="content">
          <h1>the best app in the universe</h1>
          <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.</p>
          <h5>“boys will be boys,”</h5>
          <a>Learn More</a>
          <a class="second">Live Demo</a>
      </section>
      <section class="mob-img">
       
      </section>
  </section>
  </section>
 
  
</header>
<router-outlet></router-outlet>
