<header>
    <section class="container">
    <nav>
        <section class="logo">
            
            <img (click)="loadLogin()" src="../../assets/img/logo.png">
            <ul>
              <li><a routerLink="/home"> home</a></li>
              <li><a routerLink="/products">Products </a> </li>
          </ul>
        </section>
        <!-- <section class="list"> 
            <i class="fas fa-cart-plus"></i>
            <div> {{counter}}</div>
        </section> -->
    </nav>
    <section class="header-content">
        <section class="content">
            <h1>WELCOME TO MY SHOPPING CART APP WITH <br>ANGULAR 7</h1>
            
        </section>
        
    </section>
    </section>
   
    
  </header>